<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:s="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <bean id="ntlmAuthenticationFilter" class="org.nkey.test.ntlm.filter.NtlmAuthenticationFilter">
        <property name="authenticationManager" ref="ntlmAuthenticationManager"/>
    </bean>
    <bean id="ntlmAuthenticationManager" class="org.nkey.test.ntlm.filter.NtlmAuthenticationManager">
        <property name="ldapSearchRootDn" value="${active_directory.search.root}"/>
        <property name="principalBindSuffix" value="${active_directory.search.principal.bind.suffix}"/>
    </bean>

    <bean id="activeDirectoryLdapUserDetailsMapper"
          class="org.nkey.test.ntlm.ldap.ActiveDirectoryLdapUserDetailsMapper"/>
    <bean id="authorityMapper" class="org.springframework.security.core.authority.mapping.SimpleAuthorityMapper">
        <property name="defaultAuthority" value="ROLE_USER"/>
    </bean>

    <s:http auto-config="true" use-expressions="true">
        <s:custom-filter position="PRE_AUTH_FILTER" ref="ntlmAuthenticationFilter"/>

        <s:intercept-url pattern="/favicon.ico" access="permitAll"/>
        <s:intercept-url pattern="/login*" access="isAnonymous"/>
        <s:intercept-url pattern="/*" access="hasAuthority('ROLE_USER')"/>
    </s:http>

    <context:property-placeholder
            location="classpath:/activedirectory.properties"/>


    <bean id="activeDirectoryAuthenticationProvider"
          class="org.springframework.security.ldap.authentication.ad.ActiveDirectoryLdapAuthenticationProvider">
        <constructor-arg value="${active_directory.domain}"/>
        <constructor-arg value="${active_directory.server}"/>
        <property name="convertSubErrorCodesToExceptions" value="true"/>
        <property name="userDetailsContextMapper" ref="activeDirectoryLdapUserDetailsMapper"/>
        <property name="authoritiesMapper" ref="authorityMapper"/>
    </bean>

    <s:authentication-manager>
        <s:authentication-provider ref='activeDirectoryAuthenticationProvider'/>
    </s:authentication-manager>

</beans>